body {
  background-color: #fff;
  color: #000;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
  padding-bottom: 5px;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 80%;
}

.medium-pic {
  width: 50%;
  padding-top: 88px;
}

.left, .right {
  float: left;
  width: 52%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
a{
  text-decoration: none;
}

a:hover{
  color: orange;
}

figcaption{
  font-size: 12px;
  padding-bottom: 20px;
}

h1{
  font-size: 2em;
  padding-bottom: 20px;
}

h3{
  font-size: 1.3em;
  padding-bottom: 20px;
}

.author{
  font-style: italic;
}

p{
  padding-bottom: 10px;
}
